* {
  margin: 0;
}
html,
body {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100%;
  background: #ffffff;
}
.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #ffffff;
}
.container {
  min-width: 100%;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 770px;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
}
@media all and (min-width: 0px) and (max-width: 768px) {
  .header {
    justify-content: center;
  }
}
.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 215px;
  color: #ffffff;
}
.headerTitle h1 {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.1rem;
  text-transform: uppercase;
}
.headerTitle h5 {
  font-family: 'Roboto Slab', serif;
}
@media all and (min-width: 0px) and (max-width: 768px) {
  .headerTitle {
    margin-top: 30px;
  }
}
.headerTopLine {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 30px 0;
}
@media all and (min-width: 0px) and (max-width: 768px) {
  .headerTopLine {
    flex-direction: column;
  }
}
menu {
  padding: 0;
  margin: 0 20px;
}
.bg-light {
  background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  border: none;
}
@media all and (min-width: 0px) and (max-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
  }
}
.navbar {
  padding: 0;
}
.fa-bars {
  color: #ffffff;
}
.navbar-light .navbar-toggler-icon {
  background-image: none;
}
.btn-outline-primary {
  margin-top: 42px;
  width: 180px;
  padding: 10px 10px;
  border: 1px solid white;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  border-radius: 0;
}
.btn-outline-primary:hover {
  background-color: transparent;
  border-color: pink;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: transparent;
  border-color: white;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: none;
}
.services {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  min-height: 580px;
  justify-content: center;
  align-items: center;
}
.servicesTitle {
  text-align: center;
  color: #555555;
}
.servicesTitle h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.servicesTitle p {
  margin-top: 30px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
.servicesLine {
  margin: 0 auto;
  height: 2px;
  width: 50px;
  background-color: grey;
  margin-top: 25px;
}
.servicesUnitWraper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 45px 0;
}
@media all and (min-width: 0px) and (max-width: 767px) {
  .servicesUnitWraper {
    margin-top: 20px;
    flex-direction: column;
    height: 100%;
  }
}
.servicesUnit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 360px;
  margin: 0 15px;
}
@media all and (min-width: 0px) and (max-width: 820px) {
  .servicesUnit {
    max-width: 100%;
  }
}
.servicesUnitTitle {
  color: #555555;
}
.servicesUnitTitle h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
.servicesUnitTitle p {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  text-align: justify;
}
.sevicesUnitLogoLeft {
  margin-bottom: 30px;
  width: 90px;
  height: 90px;
  background-image: url("../img/services_unit_logo_left.png");
}
.sevicesUnitLogoCenter {
  margin-bottom: 30px;
  width: 90px;
  height: 90px;
  background-image: url("../img/services_unit_logo_center.png");
}
.sevicesUnitLogoRight {
  margin-bottom: 30px;
  width: 90px;
  height: 90px;
  background-image: url("../img/services_unit_logo_right.png");
}
.aboutUsBlock {
  min-height: 852px;
  height: 100%;
  width: 100%;
  padding: 55px 220px;
  background-color: #f8f8f8;
}
.aboutUsText {
  font-family: 'Roboto Slab', serif;
  color: #555555;
  font-size: 14px;
}
.aboutUsText p {
  margin: 70px 0;
}
.aboutUsUnit {
  min-width: 263px;
  height: 100%;
  text-align: center;
}
.aboutUsImg {
  height: 250px;
  margin-bottom: 20px;
  background-color: black;
}
.aboutUsImg img {
  transition-duration: .3s;
}
.aboutUsImg :hover {
  opacity: 1;
  opacity: 0.8;
  transition-duration: .3s;
}
.aboutUsUnitName {
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  font-size: 12px;
  background-color: #f8f8f8;
}
.aboutUsUnitName :first-child {
  text-transform: uppercase;
}
.aboutUsSlider {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.arrowLeft {
  position: absolute;
  top: 100px;
  left: 14px;
  width: 35px;
  height: 38px;
  text-align: center;
  background-color: #555555;
  z-index: 500;
}
.arrowRight {
  position: absolute;
  top: 100px;
  left: 1110px;
  width: 35px;
  height: 38px;
  text-align: center;
  background-color: #555555;
}
.socialBlock_1 {
  display: none;
  position: absolute;
  opacity: 1;
  top: 200px;
  left: 75px;
  width: 140px;
  height: 25px;
  color: white;
  z-index: 500;
  font-size: 20px;
}
.socialBlock_2 {
  position: absolute;
  background-color: red;
  top: 200px;
  left: 370px;
  width: 140px;
  height: 25px;
}
.socialBlock_3 {
  position: absolute;
  background-color: red;
  top: 200px;
  left: 660px;
  width: 140px;
  height: 25px;
}
.socialBlock_4 {
  position: absolute;
  background-color: red;
  top: 200px;
  left: 955px;
  width: 140px;
  height: 25px;
}
.visible {
  display: block;
}
